* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*generals*/
header {
  background-color: lightblue;
  padding: 10px 0px;
}

footer {
  background-color: rgb(50, 50, 50);
}

.p-5 {
  padding: 5px;
}

.justify-content-between {
  justify-content: space-between;
}

.top-footer {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.bottom-foter {
  padding-top: 20px;
}

/*layout class*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto;
}

.col-20 {
  width: 20%;
}

.col-40 {
  width: 40%;
  height: 500px;
}

.col-60 {
  width: 60%;
}

.col-15 {
  width: 15%;
  height: 500px;
}

.col-100 {
  width: 100%;
  height: 500px;
}

/*utility classes*/
.bg-orange {
  background-color: orange;
}

.bg-blue {
  background-color: blue;
}

.bg-cyan {
  background-color: cyan;
}

.bg-pink {
  background-color: pink;
}

.bg-gray {
  background-color: gray;
}

.bg-green {
  background-color: green;
}

.border-black {
  border: 1px solid black;
}

.p-20 {
  padding: 20px;
}

.py-20 {
  padding: 20px 0;
}

.my-50 {
  margin: 50px auto;
}

/*content classes*/
ul {
  list-style-type: none;
}

header ul {
  display: flex;
  justify-content: center
}

header ul li {
  margin: 0px 15px;
}

.text-right {
  text-align: right;
}