* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

/*Intestazione*/
header {
  height: 50px;
  background-color: #add8e7;
  padding: 15px 0;
  text-align: center;
}

.col-20 {
  background-color: #daa41e;
}

.border {
  border: 2px dotted black;
}

/*Main*/
.b-300 {
  height: 300px;
  padding: 60px 0;
  background-color: #00018B;
  display: flex;
  justify-content: center;
}

.container-sm {
  background-color: #EF82ED;
  width: 31%;
}

.container-bg {
  background-color: #218b21;
  width: 37%;
}

.w-300 {
  height: 300px;
  padding: 50px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.bg-pink {
  background-color: #ffc0ca;

}

.bg-sky {
  background-color: #1e90ff;
}

.left .right {
  height: 200px;
}

.left {
  width: 12%;
}

.right {
  width: 25%;
}

.g-300 {
  height: 300px;
  padding: 50px 0;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
}

.g-500 {
  height: 500px;
  padding: 50px 0;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
}

.n-300 {
  height: 300px;
  padding: 50px 0;
  background-color: #23272a;
  display: flex;
  justify-content: center;
}

.bg-marino {
  background-color: #20b3aa;
}

.bg-pesca {
  background-color: #f08180;
}

.mp {
  height: 200px;
  width: 150px;
}

.mm {
  height: 200px;
  width: 120px;
}

.border-m {
  border: 1px dotted white;
}